@charset "utf-8";
@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),  url('../fonts/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latomedium';
    src: url('../fonts/lato-medium-webfont.woff2'),  url('../fonts/lato-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),  url('../fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latoblack';
    src: url('../fonts/lato-black.woff2') format('woff2'),  url('../fonts/lato-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'latosemibold';
    src: url('../fonts/lato-semibold.woff2') format('woff2'),
         url('../fonts/lato-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* IE10+ */ 
::-ms-clear {
    display: none;
}
/* Chrome */ 
::-webkit-search-decoration, ::-webkit-search-cancel-button, ::-webkit-search-results-button, ::-webkit-search-results-decoration {
    display: none;
}
/********** Basics **********/
* {
    margin: 0px;
    padding: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
}
li {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
p {
    margin: 0
}
a, a:hover, a:focus {
    color: #00959b;
    text-decoration: none;
}
.underline:hover {
    text-decoration: underline;
}
.no-border {
    border: none !important;
}
.no-margin {
    margin: 0px;
}
.mt-0 {
    margin-top: 0px;
}
.m-t-b-20 {
    margin: 10px 0;
}
.mt-10 {
    margin-top: 10px;
}
.mt-60 {
    margin-top: 60px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px !important;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mt-35 {
    margin-top: 35px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-45 {
    margin-top: 45px;
}
.mt-50 {
    margin-top: 50px;
}
.mb-0 {
    margin-bottom: 0px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-35 {
    margin-bottom: 35px;
}
.mb-40 {
    margin-bottom: 40px;
}
.mb-45 {
    margin-bottom: 45px;
}
.mb-50 {
    margin-bottom: 50px;
}
.blue-line {
    height: 1px;
    background: #00959b;
}
.btn-new {
    min-width: 115px;
}

html {
    min-height: 100%;
    position: relative;
}
body {
    font-family: 'latoregular';
    color: #333;
    background: #fff;
    font-size: 16px;
    margin-bottom: 209px;
}

.form-control:focus {
    border-color: #00959b;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow:none;
}
.btn {
    font-family: 'latobold';
}

/********** Basics **********/

/********** Placeholder **********/

::-webkit-input-placeholder {
   color: #bfc7ce!important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #bfc7ce!important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bfc7ce!important;
}

:-ms-input-placeholder {  
   color: #bfc7ce!important;  
}

/********** Placeholder **********/

/********** Header **********/
header {
    padding: 14px 0px 0px;
}
.logo {
    display: inline-block;
}
.header-right {
    float: right;
    position: relative;
    padding-top: 2px;
}
.header-right p.on-demand-availability {
    padding: 23px 0px;
}
.header-right p span {
    width: 45px;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 10px;
    line-height: 0;
    padding: 14px 0;
}
.header-right p span.on {background: #21d052;}
.header-right p span.off {background: #ff0000}
.search-input {
    float: left;
    margin-left: 12px;
}
.search-input > button {
    position: absolute;
    padding: 0;
    border: none;
    background: transparent;
    left: 25px;
    font-size: 0px;
    top: 7px;
    color: #00959b;
}
.search-input > button::before {
    font-size: 13px;
}
.search-input > input {
    padding: 2px 8px 2px 30px;
    font-family: 'latomedium';
    height: auto;
    color: #333333;
    font-size: 13px;
    line-height: normal;
    -webkit-appearance: none;
    border: 1px solid #00959b;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}
ul.header-social {
    text-align: right;
}
ul.header-social > li {
    list-style: none;
    position: relative;
    display: inline-block;
}
ul.header-social > li > a {
    font-size: 0px;
    display: block;
    color: #00959b;
    padding: 0 5px;
}
ul.header-social > li > a::before {
    font-size: 16px;
}
ul.head-nav {
    margin-top: 15px;
}
ul.head-nav > li {
    list-style: none;
    float: left;
}
ul.head-nav > li > a {
    display: block;
    border-right: 1px solid #00959b;
    line-height: 1;
    font-family: 'latomedium';
    color: #00959b;
    padding: 0 12px;
    font-size: 14px;
}
ul.head-nav > li > a:hover {
    text-decoration: underline;
}
ul.head-nav > li:last-child > a, ul.head-nav > li:nth-last-child(2) > a {
    border: none;
}
ul.head-nav > li > a.btn {
    padding: 10px 15px;
    color: #fff;
    margin-top: -10px;
    font-family: 'latobold';
}
ul.head-nav > li > a.btn:hover {
    text-decoration: none;
}
/********** Header **********/

/********** Category Nav **********/
.category-nav {
    background: #00959b;
    margin-top: 14px;
}
.category-nav .navbar-nav > li > a {
    color: #fff;
    font-size: 18px;
    padding: 12px;
    font-family: 'latomedium';
    text-transform: uppercase;
}
.category-nav .nav > li > a > i.fa {
    color: #ffb753;
    font-weight: bold;
    padding-left: 9px;
}
.category-nav .nav .open > a {
    text-decoration: none;
    background: #fff;
    color: #00959B;
}
/*.category-nav .nav .open > a:hover {
    text-decoration: none;
    background: #fff;
    color: #00959B;
}*/
/*.category-nav .nav .open > a:focus {
    text-decoration: none;
    background: transparent;
    color: #fff;
}*/
.category-nav .nav > li.open > a > i.fa {
    transform: rotate(180deg);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
/*.category-nav .nav > li > a:focus, .category-nav .nav > li > a:hover {
    text-decoration: none;
    background: #fff;
    color: #00959B;
}*/
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.category-nav .dropdown-menu {
    box-shadow: none;
    border: none;
    border-radius: 0px;
    background: #017579;
    padding: 27px 0px 22px;
    line-height: 1;
    padding: 0px;
}
.category-nav .dropdown-menu > li > a {
    padding: 14px 34px;
    color: #fff;
    font-size: 20px;
    line-height: 1;
}
.category-nav .dropdown-submenu {
    position: relative;
}
.category-nav .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
    display: none;
    background: #fff;
}
.category-nav .dropdown-submenu .dropdown-menu {
    right: auto;
    left: -269px;
}
.category-nav .dropdown-submenu > .dropdown-menu > li > a {
    padding: 14px 20px;
    color: #01969c;
}
.category-nav .dropdown-submenu .dropdown-menu > li > a:focus, .category-nav .dropdown-submenu .dropdown-menu > li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #017579;
}
/********** Category Nav **********/

/********** Primary Nav **********/
.navbar {
    background: #fff;
    margin-bottom: 0px;
    border-radius: 0px;
    padding: 13px 0px;
}
.navbar .navbar-nav > li > a {
    color: #00959b;
    font-size: 16px;
    padding: 15px 11px;
    border-radius: 3px;
    line-height: 1;
    text-transform: uppercase;
}
.navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a:hover {
    color: #fff;
    /*font-family: 'latobold';*/
}


.dropdown-menu > li:focus > a, .dropdown-menu > li:hover > a {
    color: #01969c;
    text-decoration: none;
    background-color: #fff;
}
.dropdown-heading {
    font-family: 'latosemibold';
    text-transform: uppercase;
    border-bottom: 1px solid #00959b;
    margin: 0 34px;
    text-align: left;
    min-width: 260px;
    font-size: 20px;
    color: #fff;
    padding-left: 0px !important;
    padding-top: 30px !important;
    padding-bottom: 16px !important;
}

@media (min-width: 768px) {
    .no-border .navbar-nav {
        margin: 0;
        float: none;
        text-align: center;
    }
    .no-border .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar-collapse {
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .dropdown-menu > li > a {
        font-size: 16px;
    }
    .dropdown-heading {
        min-width: 200px !important;
        font-size: 17px;
    }
    .dropdown-submenu .dropdown-menu {
        left: -223px;
    }
}
@media (max-width: 991px) {
    .navbar .navbar-nav > li > a {
        font-size: 13px;
        padding: 15px 7px;
    }
}
/********** Primary Nav **********/

/********** Carousel **********/
.carousel-inner > .item > a > img, .carousel-inner > .item > img {
    width: 100%;
}
.carousel-caption {
    text-align: left;
    width: 100%;
    top: 168px;
    padding: 0 10px 0 0;
    text-shadow: none;
}
.carousel-caption h2 {
    font-size: 50px;
    line-height: 50px;
    margin: 0 0px 27px 0px;
    font-family: 'latobold';
}
.carousel-caption p {
    font-size: 16px;
    font-family: 'latobold';
    margin-left: 0px;
}
.carousel-caption p > span {
    font-family: 'latoblack';
}
.item .btn {
    position: absolute;
    z-index: 999;
    bottom: 148px;
    font-size: 20px;
    left: 50%;
    width: 210px;
    font-family: 'latobold';
    margin-left: -105px;
}
.carousel-indicators li {
    width: 12px;
    margin: 0px;
    height: 12px;
}

/*@media screen and (min-width: 940px) {
    .carousel-caption {
        right: auto;
        left: auto;
        padding-bottom: 30px;
    }
}*/
@media screen and (min-width: 940px) {
    .carousel-caption {
        right: auto;
        left: auto;
        padding-bottom: 30px;
    }
}

@media (min-width: 940px) and (max-width: 1279px) {
    .carousel-caption {
        top: 10%;
    }
    .item .btn {
        bottom: 110px;
    }
}

@media screen and (max-width: 939px) {
    .carousel-caption h1 {
        font-size: 40px;
        margin: 0 0 10px 10px;
    }
    .carousel-caption {
        top: 20px;
        left: 0;
    }
    .item .btn {
        bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 962px) {
    .carousel-caption h2 {
        font-size: 39px;
        margin: 0 0px 10px 0px;
    }
}

/********** Carousel **********/

/********** Knowledge boxes **********/
.knowledge-boxes > ul {
    /*display: table;
    width: 100%;*/
    color: #fff;
}
.knowledge-boxes > ul > li > .knowledge-box-content > h3 {
    font-size: 30px;
    padding-bottom: 20px;
    margin: 0;
}
.knowledge-boxes > ul > li {
    width: 33.333333%;
    display: table-cell;
    vertical-align: middle;
    padding: 35px 0;

}
.knowledge-boxes > ul > li > .icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0px 30px;
}
.knowledge-boxes > ul > li > .knowledge-box-content {
    display: table-cell;
    vertical-align: middle;
    padding-right: 13px;
}
.knowledge-boxes > ul > li > .knowledge-box-content > p {
    font-size: 15px;
    width: 100%;
    margin: 0;
    padding-bottom: 17px;
}
.knowledge-boxes > ul > li > .knowledge-box-content > a {
    color: #fff;
    font-size: 20px;
    font-family: 'latobold';
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 14px 20px;
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
}

@media (max-width: 939px) {
    .knowledge-boxes > ul > li > .icon {
        display: block;
    }
    .knowledge-boxes > ul > li > .knowledge-box-content {
        display: block;
        text-align: center;
        padding: 15px;
    }
}
/********** Knowledge boxes **********/

/********** Colorful Knowledge boxes **********/
.colourful-knowledge-boxes {
    color: #fff;
}
.colourful-knowledge-boxes img {
    width: 100%;
}
.colourful-knowledge-boxes figcaption {
    padding: 40px 22px;
}
.colourful-knowledge-boxes figcaption h3 {
    font-size: 30px;
}
.colourful-knowledge-boxes figcaption p {
    padding: 21px 0 17px 0;
}
.colourful-knowledge-boxes figcaption a {
    color: #fff;
    font-size: 20px;
    font-family: 'latobold';
    border: 1px solid;
    border-radius: 3px;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
}
@media (max-width: 939px) {
    .doctor-patient-img {
        float: none !important;
        height: 350px !important;
        width: 350px !important;
        display: inline-block;
    }
    .patient-img {
        text-align: center;
    }
}
@media (max-width: 479px) {
    .doctor-patient-img {
        height: 300px !important;
        width: 300px !important;
        margin: 20px 0px 0px 0px !important;
    }
}
/********** Colorful Knowledge boxes **********/

/********** Information Tabs **********/
.info-tabs {
    border-bottom: 1px solid #00959b;
    padding: 15px 0;
}
.info-tabs .nav-tabs {
    border: none;
    position: relative;
    text-align: center;
}
.info-tabs .nav-tabs > li {
    margin-bottom: 0;
    float: none;
    display: inline-block;
}
.info-tabs .nav-tabs > li > a {
    color: #00959b;
    border: none;
    padding: 16px 11px;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    border-radius: 3px;
}
.info-tabs .nav-tabs > li.active > a, .info-tabs .nav-tabs > li.active > a:focus, .info-tabs .nav-tabs > li.active > a:hover {
    color: #fff !important;
    cursor: pointer;
    background-color: #ffb753;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}
.info-tabs .nav > li > a:focus, .info-tabs .nav > li > a:hover {
    color: #fff;
    cursor: pointer;
    background-color: #ffb753;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}
.info-tabs-content .tab-content {
    padding: 60px 0;
    display: none;
}
.tab-content > .tab-pane > h3 {
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #00959b;
    font-size: 30px;
}
.tab-content > .tab-pane h4 {
    padding-bottom: 40px;
    color: #00959b;
    font-size: 30px;
}
.tab-icon {
    width: 60px;
    height: 60px;
    line-height: 1;
    border-radius: 50%;
    background: #00959b;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.content-box {
    padding-bottom: 30px;
}
.doctor-patient-img {
    float: right;
    height: 380px;
    margin: 91px 0px 0px 0px;
    position: relative;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 380px;
    overflow: hidden;
    box-shadow: -4px -4px 8px 0px rgba(0, 0, 0, 0.07);
}
.doctor-patient-img > img {
    margin-left: -105px;
    margin-top: -8px;
}
.patient-img {
    position: relative;
    display: inline-block;
}
.doctor-icon {
    width: 107px;
    height: 107px;
    line-height: 1;
    border-radius: 50%;
    background: #00959b;
    display: block;
    text-align: center;
    position: absolute;
    padding: 23px 0;
    bottom: 0;
    left: 0px;
}
.responsive-tabs.nav-tabs i.fa {
    display: none;
}
@media (max-width: 991px) {
    .info-tabs-content .tab-content .tab-pane .col-sm-6 {
        width: 100%;
    }
    .info-tabs-content .tab-content .tab-pane .col-sm-2 {
        width: auto;
    }
    /*.info-tabs .nav-tabs > li.active > a, .info-tabs .nav-tabs > li.active > a:focus, .info-tabs .nav-tabs > li.active > a:hover {border-top: 1px solid #00959B!important;}*/
    .responsive-tabs.nav-tabs i.fa {
        position: absolute;
        top: 16px;
        display: block;
        font-size: 1.5em;
        right: 22px;
        color: #fff;
    }
    .responsive-tabs.open > i.fa {
        transform: rotate(180deg);
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
    }
    .tab-content > .tab-pane > h2 {
        display: none;
    }
    .responsive-tabs.nav-tabs i.fa-chevron-top {
        display: none;
    }
    .responsive-tabs.nav-tabs > li {
        display: none;
        float: none;
        text-align: center;
    }
    .responsive-tabs.nav-tabs > li > a {
        /*border-top: 1px solid #00959B;*/
        margin: 0 -10px;
    }
    .responsive-tabs.nav-tabs > li.active {
        display: block;
    }
    .responsive-tabs.nav-tabs.open i.fa-chevron-top {
        display: block;
    }
    .responsive-tabs.nav-tabs.open i.fa-chevron-bottom {
        display: none;
    }
    .responsive-tabs.nav-tabs.open > li {
        display: block;
    }
    .responsive-tabs.nav-tabs.open > li a {
        border-radius: 0;
        cursor: pointer;
        color: #00959B;
    }
    .responsive-tabs.nav-tabs.open > li a:hover {
        color: #fff;
    }
    .info-tabs .nav-tabs > li > a {
        font-size: 25px;
    }
    .tab-content > .tab-pane > h3 {
        display: none;
    }

}
/********** Information Tabs **********/

/********** Main Content **********/
.main-content {
    padding: 40px 0px;
    position: relative;
}
.main-content h2 {
    color: #00959b;
}
.main-content .main-description {
    padding: 40px 0;
}
.main-content ul {
    clear: both;
}
ul.conditions {
    margin-top: 30px;
    margin-bottom: 85px;
}
ul.conditions li {
    position: relative;
    padding-left: 11px;
    padding-bottom: 8px;
    word-wrap: break-word;
}
ul.bullets li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
    width: 7px;
    height: 7px;
    background: #00959b;
    border-radius: 50%;
}
/********** Main Content **********/

/********** Blue Section **********/

    /********** Download Strip **********/
    .download-strip {
        background: #00949a;
        color: #fff;
        padding: 25px 0px;
    }
    .download-strip span {
        font-size: 20px;
        font-family: 'latobold';
        padding: 10px 0 0 5px;
        display: inline-block;
        width: 60%;
    }
    .download-buttons {
        float: right;
        width: 40%;
        text-align: right;
    }
    .download-buttons a {
        display: inline-block;
        padding-right: 18px;
    }
    @media (max-width: 991px) {
        .download-strip span {
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
        }
        .download-buttons {
            float: none;
            width: 100%;
            text-align: center;
        }
        .download-strip {
            padding: 15px 0px;
        }
    }
    /********** Download Strip **********/

    /********** Benifits **********/
    .benifits {
        padding: 80px 0;
        color: #fff;
        background: url('../img/stechoscope-background.png') no-repeat center bottom;
        background-size: 100% 100%;
    }
    .benifits h2 {
        padding-bottom: 30px;
        text-align: center;
    }
    .benifits figure {
        margin-top: 45px;
    }
    .benifits figure img {
        padding: 20px 0 16px 0;
    }
    .benifits figure span {
        display: block;
        font-size: 18px;
        font-family: 'latobold';
        padding-bottom: 18px;
    }
    .benifits figcaption {
        background: #fff;
        color: #333;
        font-size: 14px;
        text-align: left;
        padding: 20px 20px 16px 20px;
    }
    .benifits figcaption a {
        color: #ffb753;
        font-family: 'latobold';
        font-size: 14px;
        padding-top: 5px;
        display: inline-block;
    }
    .benifits figcaption a i.fa {
        padding-left: 5px;
        font-size: 12px;
    }
    .benifits figcaption a:hover {
        text-decoration: underline;
    }
    /********** Benifits **********/

/********** Blue Section **********/

/********** Resources **********/
.resources {
    padding: 78px 0px;
}
.resources h2 {
    text-align: center;
    color: #00959b;
    margin-bottom: 40px;
}
.resources img {
    width: 100%;
    padding: 20px 0px;
}
.resources h5 {
    color: #00959b;
    font-size: 15px;
    padding: 5px 0px;
}
.resources p {
    font-size: 14px;
    /*line-height: 1.761656;*/
    line-height: normal;
}
.resources a {
    color: #ffb753;
    font-family: 'latobold';
    font-size: 14px;
    padding-top: 5px;
    display: inline-block;
}
.resources a:hover {
    text-decoration: underline;
}
.resources a i.fa {
    padding-left: 5px;
}
/********** Resources **********/

/********** Footer **********/
footer {
    background: #00959b;
    color: #fff;
    line-height: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 209px;
    
}

    /********** Social Strip **********/
    .social-strip {
        background: #ffb753;
        text-align: center;
        padding: 18px 0px;
    }
    .social-strip ul li {
        display: inline-block;
    }
    .social-strip ul li a {
        color: #fff;
        font-size: 0px;
        padding: 0px 14px;
    }
    .social-strip ul li a::before {
        font-size: 28px;
    }

    @media (max-width: 480px) {
        .social-strip ul li a {
            padding: 0px 10px;
        }   
    }
    /********** Mid-Footer **********/
    .footer {
        padding: 18px 0px;
        background: #00959b;
    }
    .footer ul {
        float: right;
        margin: 31px 0px;
    }
    .footer ul li {
        list-style: none;
        float: left;
    }
    .footer ul li a {
        display: block;
        border-right: 1px solid #fff;
        line-height: 1;
        font-family: 'latomedium';
        color: #fff;
        padding: 0px 18px;
        font-size: 16px;
    }
    .footer ul li a:hover {
        text-decoration: underline;
    }
    .footer ul > li:last-child > a {
        padding-right: 0;
        border: none;
    }
    @media (max-width: 767px){
        .footer {
            text-align: center;
        }
        .footer ul {
            float: none;
            margin: 10px 0px;
        }
        .footer ul li {
            float: none;
        }
        .footer ul li a {
            border-right: 0px solid #fff;
            padding: 10px 18px !important;
            font-size: 18px;
        }
    }
    /********** Copyright **********/
    .copyright p {
        font-size: 13px;
        padding-bottom: 10px;
    }
    .copyright p a {
        color: #fff;
        font-style: italic;
        text-decoration: underline;
    }
    .copyright {
        text-align: center;
        padding: 10px 10px 0;
        background: #006a6e;
    }

/********** Footer **********/

/********** Main Heading **********/
.main-heading {
    padding: 20px 0 30px 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #00959b;
}
.main-heading .already-text {
    padding-top: 10px;
}
.main-heading a:hover {
    text-decoration: underline;
}

/********** Main Heading **********/

/********** Provider Profile Edit **********/

.provider-profile-edit p a {
    font-size: 14px;
    text-decoration: underline;
}
.provider-profile-edit p strong {
    font-weight: normal;
    display: inline-block;
    font-family: 'latobold';
}
.profile-photo {
    display: inline-block;
    border: 1px solid #bfc7ce;
    margin-bottom: 15px;
    overflow: hidden;
    width: 137px;
    height: 137px;
    border-radius: 50%
}

.npi-details .col-sm-6:nth-child(odd) {
    width: 22%;
}
.state-input p {
    padding: 10px;
}
/********** Provider Profile Edit End **********/

/********** Form css **********/
.form-group {
    position: relative;
    width: 92%;
}
label {
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 1;
    word-wrap: break-word;
    display: block;
}
.form-inputs .form-control {
    border-radius: 0px;
    border-color: #bfc7ce;
    box-shadow: none;
    -webkit-appearance: none;
    color: #333;
    min-height: 45px;
    line-height: normal;
    resize: none;
    font-size: 16px;
}
.form-inputs select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 9px 12px;
    background: url(../img/select-arrow.png) no-repeat;
    background-position: 96%;
    /*color: #bfc7ce !important;*/
}
.mandatory {
    color: #ff0000;
    top: 39px;
    right: -15px;
    font-size: 17px;
    position: absolute;
}
.form-inputs h3 {
    font-size: 26px;
    margin-bottom: 30px;
}
.dob {
    width: 63%;
}
@media (max-width: 767px) {
    .dob {
        width: 92%;
    }
}
.dob .dob-date {
    width: 26%;
    display: inline-block;
    margin-right: 10px;
}
.dob .dob-month {
    width: 26%;
    display: inline-block;
    margin-right: 10px;
}
.dob .dob-year {
    width: 37%;
    display: inline-block;
    margin-right: 0px;
}
.form-inputs .btn {
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    min-width: 116px;
    z-index: 9;
    position: relative;
    margin-top: 20px;
    padding: 11px 20px;
}
@media (max-width: 767px) {
    .form-inputs .btn {
        font-size: 16px;
        margin: 10px 0px;
    }
}
.single-input {
    width: 96.2% !important;
}
.form-group .state-input {
    margin-bottom: 10px;
}
.state-input .col-sm-6:nth-child(2n+1) {
    padding-left: 0;
}
.state-input .col-sm-6:nth-child(2n) {
    padding-right: 0;
}
.form-inputs .form-group .col-sm-6:nth-child(2n) {
    padding-left: 0;
}
.add-remove-btn {
    top: 13px;
    right: -25px;
    font-size: 0px !important;
    position: absolute;
}
.add-remove-btn::before {
    font-size: 17px;
}
.state-input {
    position: relative;
}
.download-btn {
    margin: 0px 0px 10px !important;
}

.btn-warning {
    color: #fff;
    background-color: #ffb753;
    font-family: 'latobold';
    border-color: #ffb753;
}
.form-inputs h4 {
    font-size: 22px;
    color: #00959b;
    margin-bottom: 20px;
}
.check-terms {
    margin-bottom: 30px;
}
.check-terms label {
    padding-left: 30px !important;
    line-height: 1.1;
}
.captcha-input img {
    width: 100%;
    height: 45px;
}
.captcha-input a:hover {
    text-decoration: underline;
}
.captcha-input .mandatory {
    top: 13px;
    right: -5px;
}
.thankyou a {
    display: inline-block;
    color: #fff;
    line-height: 1;
    padding: 10px 15px;
}
.form-inputs .form-group small {
    padding-top: 10px;
    font-size: 16px;
    display: block;
    line-height: 1;
}
.form-inputs .form-control[disabled] {
    background-color: #fff;
    opacity: 1;
    border-width: 0px 0px 1px;
    padding-left: 0px;
    font-family: 'latobold';
}
.password-info {
    margin-top: 128px;
}
@media (max-width: 767px) {
    .password-info {
        margin-top: 20px;
    }
}
.text-info {
    color: #6b6b6b;
    font-size: 14px;
}
.text-info p {
    margin-bottom: 18px;
}
.text-info p strong {
    font-family: 'latobold';
    font-weight: 400;
}
.form-group {
    margin-bottom: 10px;
}
.user-disabled {
    margin-bottom: 30px;
}
ul.steps li {
    list-style: none;
    position: relative;
    padding-left: 11px;
    padding-bottom: 14px;
    line-height: 1;
    word-wrap: break-word;
}
ul.black-bullets li::before {
    width: 6px;
    height: 6px;
    background: #6b6b6b;
    content: "";
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: 5px;
}
.text-underline { text-decoration: underline; }
.form-inputs .address input:nth-child(2) {
    margin-bottom: 15px;
}
.location-star .mandatory {
    right: -5px;
}
.signin-checkbox {
    display: inline-block;
}
.form-inputs .forgot-password {
    float: right;
    padding-top: 8px;
}
.form-inputs .forgot-password:hover {
    text-decoration: underline;
}
/********** Form css **********/

/********** Upload Button **********/

.fileUpload {
    position: absolute !important;
    overflow: hidden;
    margin: 0px !important;
    bottom: 1px;
    right: -145px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

@media (max-width: 767px) {
    .fileUpload {
        margin: 26px 0 0 0px !important;
        padding: 14px 20px !important;
    }
    .signed-upload {
        margin: 26px 0 0 -25px !important;
    }
}

/********** Upload Button **********/

/********** Password Change Modal **********/
    
/*.passwrd-changed {background-color: rgba(255,255,255,0.9);}*/
.passwrd-changed h4 {
    font-size: 24px;
    color: #01959b;
    margin-bottom: 30px;
}
.passwrd-changed .btn {
    padding: 9px 26px;
    font-size: 14px;
    font-family: 'latobold';
    line-height: 1;
}
.modal-backdrop.in {
    background-color: rgba(255,255,255,0.9);
    opacity: 1;
}
.modal-backdrop.fade {
    background-color: rgba(255,255,255,0.9);
    opacity: 1;
}
.passwrd-changed .modal-body {
    padding: 32px 0px 36px
}
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}
@media (max-width: 767px) {
    .vertical-alignment-helper {
        padding: 0 10px;
    }
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
}
.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    box-shadow: none;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 460px;
        margin: 30px auto;
    }
}
/********** Password Change Modal **********/

/********** Patient Plan **********/

.plan {
    background: #fafafa;
    padding: 33px 29px;
    cursor: pointer;
    line-height: 1;
    margin-bottom: 60px;
}
.plan-list li::before {
    width: 9px !important;
    height: 9px !important;
    top: 7px !important;
}
.plan-cost {
    display: inline-block;
    margin-bottom: 35px;
}
.plan span {
    font-size: 38px;
    font-family: 'latobold';
    border: 3px solid #c6c6c6;
    width: 145px;
    height: 145px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 50%;
}
.plan span small {
    display: block;
    font-size: 20px;
    color: #737373;
    margin-top: 9px;
}
.plan input[type="radio"] {
    display: none;
}
.plan ul {
    text-align: left;
    margin: 0px;
}
.plan ul li {
    font-size: 21px;
    padding-left: 17px;
    position: relative;
    padding-bottom: 20px;
}
.plan-selected {
    background: #ffb753;
    color: #fff;
}
.plan-selected span {
    border-color: #fff;
}
.plan-selected span small {
    color: #fff;
}
.plan-selected ul li::before {
    background: #fff;
}
.patient-plans form .checkbox label {
    margin: 0px;
    min-height: auto;
}
.patient-plans form .checkbox a {
    text-decoration: underline;
}
.patient-plans form .checkbox a:hover {
    text-decoration: none;
}
.free-plan {
    width: 100%;
}
.form-inputs hr {
    margin: 30px 0;
    border-color: #00959b;
}
.patient-plans .checkbox {
    padding: 10px 0px;
    margin: 0px;
}
.patient-plans .checkbox a {
    text-decoration: underline;
    display: inline-block;
}
.patient-plans .checkbox a:hover {
    text-decoration: none;
}
/********** Patient Plan **********/

/********** Radio **********/

.controll {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}
.controll input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicatorr {
    position: absolute;
    top: 1px;
    left: 0px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 50%;
}
.controll input:checked ~ .control__indicatorr {
    background: #fff;
}
.control__indicatorr:after {
    content: '';
    position: absolute;
    display: none;
}
.controll input:checked ~ .control__indicatorr:after {
    display: block;
}
.control--radio .control__indicatorr:after {
    left: 3px;
    top: 3px;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
}
.radio label {
    display: inline-block;
    margin-right: 50px;
}
/********** Radio **********/

/********** Checkbox **********/

.control {
    display: block;
    position: relative;
    padding-left: 40px!important;
    cursor: pointer;
    font-size: 16px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: -1px;
    left: 0px;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid #bfc7ce;
}
.control input:checked ~ .control__indicator {
    background: #fff;
}
.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control__indicator:after {
    display: block;
}
.control--checkbox .control__indicator:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid #00959b;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}


/********** Checkbox **********/

/********** Plans **********/
.signup-plans {
    margin-top: 10px;
    display: table;
}
.signup-plans li {
    width: 20%;
    padding: 0px 0px;
    display: table-cell;
    background: #fafafa;
    border-right: 6px solid #fff;
}
.signup-plans li:first-child {
    padding-left: 0px !important;
}
.signup-plans li .check-plans p {
    background: #00959b;
    padding: 10px;
    line-height: 1;
    color: #fff;
}
.signup-plans li .check-plans-body {
    padding: 10px 10px 10px 10px;
}
.signup-plans li .check-plans-body .checkbox {
    margin: 0 0 13px;
}
.signup-plans li .check-plans-body .control {
    padding-left: 30px !important;
    line-height: 1.2;
}
@media (max-width: 767px) {
    .signup-plans {
        display: block;
    }
    .signup-plans li {
        width: 100%;
        display: block;
        margin-top: 20px;
    }
    .signup-plans li:first-child {
        margin-top: 0px;
    }
    .main-heading .already-text {
        text-align: left;
        padding-top: 0px;
    }
}
/********** Plans **********/

/********** Banner **********/
.banner {
    background: url(../img/resources-banner.jpg) 0px -50px no-repeat;
    background-size: 100%;
}
.banner-heading {
    height: 336px;
    display: table;
}
.banner h2 {
    font-size: 50px;
    font-family: 'latobold';
    color: #fff;
    display: table-cell;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}
/********** Banner **********/

/********** Knowledge Box **********/
.knowledge-box img {
    width: 100%;
    height: 100%;
    min-height: 210px;
}
.knowledge-content {
    padding: 20px 12px;
    color: #fff;
}
.knowledge-content h3 {
    color: #fff;
    margin-bottom: 13px;
    line-height: 1;
    font-size: 30px;
}
.knowledge-content a {
    margin-top: 12px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid transparent;
    font-family: 'latobold';
    line-height: 1;
    padding: 12px 20px;
    border-radius: 3px;
    font-size: 20px;
}
.course-explore {
    margin: 37px 0px 56px 0px;
}
.course-explore h2 {
    line-height: 1;
}
.explore::before {
    content: '';
    width: 1px;
    height: 100%;
    left: -10px;
    background: #dcdcdc;
    position: absolute;
}
.explore-group p {
    line-height: 1;
}
.course-explore a.btn {
    color: #fff;
    font-family: 'latobold';
    min-width: 160px;
    line-height: normal;
    padding: 5px;
    margin: 14px 0px 17px;
}
.course-explore a.btn i.fa {
    padding-left: 8px;
}
.explore .explore-group:last-child a.btn {
    margin-bottom: 0px;
}
.explore-group ul {
    margin: 5px 0px;
}
.explore-group ul li {
    float: left;
}
.explore-group ul li:first-child a {
    padding-left: 0px;
    border-left: 0px;
}
.explore-group ul li a {
    display: block;
    border-left: 1px solid #00959b;
    line-height: 1;
    padding: 0px 7px;
}
.explore-group ul li a:hover {
    text-decoration: underline;
}
/********** Knowledge Box **********/

/********** Provider Strip **********/
.provider {
    background: #00959b;
    color: #fff;
    padding: 30px 0px;
}
.provider p {
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
    font-family: 'latobold';
}
.provider p a {
    text-transform: uppercase;
    color: #ffb753;
}
.provider p a:hover {
    text-decoration: underline;
}
.provider ul {
    float: right;
}
.provider ul li {
    float: left;
}
.provider ul li a {
    color: #fff;
    font-size: 18px;
    font-family: 'latobold';
    border: 1px solid;
    border-radius: 3px;
    margin: 0 14px;
    padding: 12px 20px;
    display: inline-block;
    line-height: 1;
}
.provider ul li:last-child a {
    margin-right: 0px;
}

@media (max-width: 991px) {
    .provider {
        text-align: center;
        padding: 20px 0px; 
    }
    .provider p {
        text-align: center !important;
        padding: 0px 0px 10px;
    }
    .provider ul {
        float: none;
        display: inline-block;
    }
}
/********** Provider Strip **********/

.disclaimer {
    padding: 10px;
    border: 1px solid #bfc7ce;
    margin-top: 10px;
}
.disclaimer p {
    margin-bottom: 12px;
}

.star-without-label .mandatory {
    top: 10px;
    right: -5px;
}
.resource-heading h3 {
    font-size: 26px;
    color: #00959b;
}
.resource-list li {
    font-size: 14px;
    word-wrap: break-word;
    padding-bottom: 30px;
    position: relative;
    padding-left: 11px;
    color: #01969c;
    line-height: normal !important;
}
.resource-list li::before {
    width: 6px !important;
    top: 8px !important;
    height: 6px !important;
}
.provider-heading h2 {
    font-size: 35px;
    font-family: 'latobold';
}
.provider-thank {
    font-size: 18px;
}

@media (max-width: 991px) {
    .resource-heading h3 {
        font-size: 24px;
    }
}

/********** Question Radio **********/
.question-group .control__indicatorr::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    left: 0px;
    top: -2px;
    border: 1px solid #9c9b9d;
}
.question-group .control__indicatorr {
    width: auto;
    height: auto;
    position: static;
    border: 0px solid #9c9b9d;
}

.question-group .control--radio .control__indicatorr::after {
    width: 12px;
    background: #00959b;
    height: 12px;
    top: 2px;
    left: 4px;
}

.question-group .radio label {
    padding-left: 30px;
    margin-right: 60px;
}

.question-group .controll input:checked ~ .control__indicatorr::before, .question-group .controll input:checked ~ .control__indicatorr {
    border-color: #00959b;
    color: #00959b;
    /*font-family: 'latobold';*/
}


.controll input:checked + label {
    color: #00959b;
}
/********** Question Radio **********/

/********** Top **********/
/*@media(min-width:768px){
    ul.floating-div {
        position:fixed;
        bottom:31px;
        right:50px;
        display:none;           
        z-index:9999;
    }
}

ul.floating-div li a.scrollup {
    height:115px;
    padding-top: 18px;
    background:#fff;
    text-align:center;
    color:#000;
    display:block;
    width:100px;   
}*/
/********** Top **********/

/*====== Globel Error Message ====*/
.errorMsg span {
    font-size: 12px;
    text-align: right;
    display: block;
    color: #ff0000;
}
/*====== Globel Error Message Close ====*/

/*====== After login top bar ====*/
.user-top-bar {
    background: #006a6e;
    color: #fff;
}
.user-top-bar .head-nav {
    margin: 18px 0;
}
.user-top-bar ul.header-social > li > a {
    color: #fff;
    padding: 17px 5px;
}
.user-top-bar ul.head-nav > li > a {
    color: #fff;
    border-color: #fff;
}
.user-top-bar ul.head-nav > li:nth-last-child(2) > a {
    border-right: solid 1px;
}
.user-top-bar .user-nav {

}
.user-top-bar ul.user-nav > li > a.user-welcome i {
    background: url(../img/sprite.png) no-repeat -32px 0px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.user-top-bar ul.user-nav > li > a.sign-out {
    font-size: 0px;
    background: url(../img/sprite.png) no-repeat 0 0;
    width: 13px;
    height: 18px;
}
.user-top-bar ul.user-nav > li:nth-last-child(2) > a {
    border: none;
}
.user-top-bar .dropdown-menu {
    line-height: 1;
}
.user-top-bar .dropdown-menu > li > a {
    line-height: 1;
}
/*====== After login top bar Close ====*/


/*====== Provider Profile ====*/
.provider-profile-left {
    margin: 20px 38px 0 0;
}
.provider-profile-left img {
    width: 100%;
    border: 1px solid #e6e6e6;
}
.provider-profile-left .provider-detail h4 {
    line-height: 1;
    padding: 14px 0 0;
}
.provider-heading h3 {
    color: #00959b;
    font-family: 'latosemibold';
}
.semibold-heading {
    font-family: 'latosemibold';
}
.provider-profile-edit h3 small.semibold-heading {
    color: #333333;
    font-size: 16px;
}
.provider-heading h3 span {
    display: inline-block;
    position: relative;
    word-break: break-all;
}
.provider-heading h3 span.doc-profile {
    padding-left: 10px;
    margin-left: 10px;
}
.provider-heading h3 span.doc-profile:before {
    content: '';
    width: 1px;
    height: 100%;
    background: #00959b;
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 0;
}
/*====== Provider Profile End ====*/

/*====== Star Rating ====*/
.star-rating small {
    font-family: 'latobold';
    font-size: 14px;
    display: block;
    padding-top: 10px;
    color: #8f8f8f;
}
.star-rating {
    line-height: 1;
    display: block;
}
.star-rating span {
    display: inline-block;
    color: #ffc26c;
    font-size: 20px;
    line-height: 1;
}
/*====== Star Rating End ====*/

/*====== Comment Box ====*/
.comment-box {
    position: relative;
    padding-left: 80px;
    margin-bottom: 50px;
}
.comment-box h5 {
    font-family: 'latobold';
    font-size: 16px;   
}
.comment-box .comment-user-image {
    width: 58px;
    position: absolute;
    overflow: hidden;
    height: 58px;
    left: 0;
    border-radius: 50%;
}
.comment-box .comment-user-image img {
    max-width: 100%;
}
.comment-box .comment-date {
    color: #bfc7ce;
}
/*====== Comment Box End ====*/